<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Newark Kids Code</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>

<body>
<nav class="black nav-extended">
    <div class="nav-wrapper">
        <a href="/"><img src="../images/kidsCodeLogo.jpg" class="responsive-img"/></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Donate</a></li>
        <li><a href="badges.html">Parents</a></li>
        <li><a href="../about.html">About</a></li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#test1">Student Application</a></li>
        <li class="tab"><a href="../guestSpeakers.html">Guest Speakers</a></li>
        <li class="tab"><a href="#test3">Get involved</a></li>
        <li class="tab"><a href="#test4">Contact Us</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Partners</a></li>
    <li><a href="badges.html">News</a></li>
    <li><a href="collapsible.html">Gallery</a></li>
  </ul>

<div class="hero">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <div class="row center">
                <h2 class="header col s12 light white-text">Newark Kids Code is sponsored by the Urban League of Essex county. It is an educational
                initiative designed to introduce technologically disadvantaged and underrepresented youth to programming, (or "coding"),
                and other digital and computer technologies.</h2>
            </div>
            <div class="row center">
                <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light red">Enroll</a>
            </div>
            <br><br>
    
        </div>
    </div>
</div>





<div class="container white">
    <section>

        <div class="row">
            <div class="col s12 m6 l12">
                <h2>Parents</h2>
                <p>You are without a doubt your child’s most important teacher. Your on-going investment will prepare them for a world that was very different from the one we grew up in. The Internet, which either did not exist or was in its infancy when we were our children’s age, has created an intimate global village where, for a very low cost can talk to our fellow human on any one of the seven continents. For some this is very exciting and almost unlimited opportunities, while for others it is a source of fear, uncertainty, and anxiety.
                 <br>
                  <br>


                    Newark Kids Code is not just a coding program. Rather, it is a community of like-minded and forward-thinking people committed to creating a culture around technology and committed to the fundamental proposition that given access to the proper tools and resources our children can compete with their counterparts anywhere in the world.
                    <br>
                    <br>
                    As a parent of a technologically underserved child, we invite you to join our movement to create the next generation of youth that will be creators and not just passive users of technology and use their newly-acquired “Superpowers” to make the world a better place.
                    <br>
                    <br>
                    Click on the “Get Involved” lnk to join our movement today!

                </p>
                <br>
                <p>Best Regards,
                    <br>
                    Darrin S. Sharif
                    <br>
                    Director
                    <br>
                    Newark Kids Code </p>
                <div class="row">
                    <a href="http://materializecss.com/getting-started.html" target="_blank" id="download-button" class="btn-large waves-effect waves-light red">Enroll</a>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center red-text"><i class="material-icons">widgets</i></h2>
                    <h5 class="center">Building Blocks</h5>

                    <p class="light">We focus on providing youth the building blocks for a career in technology by teaching them the thinking behind the art of programming.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center red-text"><i class="material-icons">code</i></h2>
                    <h5 class="center">Programming</h5>

                    <p class="light">Practicality is part of our mantra. We will have kids programming immediately. We will be using <a href="https://scratch.mit.edu/">Scratch</a> to teach them the fundamentals of programming.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center red-text"><i class="material-icons">school</i></h2>
                    <h5 class="center">Graduate!</h5>

                    <p class="light">Graduation will be the final step in this program but it will be the beginning of an exciting career in technology!</p>
                </div>
            </div>
        </div>

    </div>
    <br><br>
</div>

<div class="container">
<div class="row">
    <div class="col s6 m3">
        <img class="responsive-img" alt="New Jersey IT Logo" src="../images/njit_logo.png">
    </div>
    <div class="col s6 m3">
        <img class="responsive-img" alt="Scratch Programmin Language Logo" src="../images/scratch-logo-300x98.png">
    </div>
    <div class="col s6 m3">
        <img class="responsive-img" alt="Urban League Logo" src="../images/Urban_League_Logo.jpg">
    </div>
    <div class="col s6 m3">
        <img class="responsive-img" alt="United States NorthStar Logo" src="../images/US_NorthStar_RGB_small.png">
    </div>
</div>
</div class="container">


<footer class="page-footer black lighten-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About Newark Kids Code</h5>
                <p class="grey-text text-lighten-4">Here are Newark Kids Code our mission is to create the next generation of software engineers and to use coding as a tool to teach youth to be problem solvers, critical thinkers, and creators.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Partners</a></li>
                    <li><a class="white-text" href="#!">Student Application</a></li>
                    <li><a class="white-text" href="#!">Gallery</a></li>
                    <li><a class="white-text" href="#!">News</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Social Media</h5>
                <ul>
                    <li><a class="white-text" href="#!">Facebook</a></li>
                    <li><a class="white-text" href="https://www.instagram.com/newarkkidscode/?hl=en" target="_blank">Instagram</a></li>
                    <li><a class="white-text" href="https://www.youtube.com/channel/UC1mL2hKokelXtIJYY8TdWUw" target="_blank">YouTube</a></li>
                    <li><a class="white-text" href="#!">Email</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Built By <a class="red-text" href="https://disrupt.digital/">Disrupt</a>
        </div>
    </div>
</footer>



<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../js/materialize.js"></script>
<script src="../js/init.js"></script>

</body>
</html>