/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.red-text {
  color: #E73E31 !important;
}

.red {
  background-color: #E73E31 !important;
}

.nav-wrapper img {
  padding-left: 30px;
  padding-top: 10px;
  height: 90px;
}

.row > .col.s6.m3 > img {
  height: 50px;
}

.flex-center > img {
  width: 100%;
}

.hero {
  width: 100%;
  height: 80vh;
  background: url(../images/landing-page-picture.jpg) no-repeat center;
  background-image: linear-gradient(rgba(201,201,201,0.5), rgba(0,0,0,0.9)),url(../images/landing-page-picture.jpg);
    background-size: cover;
}

.sidenav > li > a {
  color: rgb(255, 255, 255);
}

.sidenav {
  background-color: rgb(0, 0, 0);
}

.row > h2 {
  font-size: 2.56rem;
}

@media only screen and (max-width: 768px) {
  .row > h2 {
    font-size: 1.64rem;
  }
}
